{% extends "layout/logged.twig" %}

{% block page %}

  <section class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 16pt">
        <img src="{{ path('file', {file: 'images/icon-share.png'}) }}">Minha biblioteca
      </h1>
    </div>
    <div class="panel-body">
      <h4>Página em desenvolvimento ...</h4>
      <div>{{ user.first_name }} {{ user.last_name }}</div>
      <div><img src="{{ user.picture }}" class="img-circle"></div>
    </div>
  </section>

{% endblock %}
