{% extends "layout/logged.twig" %}

{% block page %}

  <section class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title" style="font-size: 16pt">
        <img src="{{ path('file', {file: 'images/icon-notifications.png'}) }}">Notificações
      </h1>
    </div>
    <div class="panel-body">
      <h4>Nenhuma notificação encontrada ...</h4>
    </div>
  </section>

{% endblock %}
