<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('home') }}">share.ox</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <form class="navbar-form navbar-left" method="GET" action="{{ path('search') }}">
        <div class="form-group">
          <input type="text" name="q" class="input-search" placeholder="Pesquisar ..."{% if search is defined and search %} value="{{ search }}"{% endif %}>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li{% if page == 'my_library' %} class="active"{% endif %}><a href="{{ path('library') }}" class="menu-library">minha biblioteca</a></li>
        <li{% if page == 'notifications' %} class="active"{% endif %}><a href="{{ path('notifications') }}" class="menu-notifications">notificações</a></li>
        <li{% if page == 'doc_add' %} class="active"{% endif %}><a href="{{ path('doc_add') }}" class="menu-share">compartilhar</a></li>
        <li><a href="javascript:void(0)" id="facebook-logout">sair</a></li>
      </ul>
    </div>
  </div>
</nav>
